body {
  padding: 50px 0 0 100px;
}

.bar {
  display: inline-block;
  width: 20px;
  height: 75px;
  margin-right: 2px;
  background-color: teal;
  &:hover {
    background-color: #ead45c;
  }
}

.showValue {
  position: absolute;
  color: white;
}
